body {
  margin: 0;
  height: 100vh;
  display: flex;
}

#app {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left {
  width: 70%;
  background-color: rgb(197, 190, 190);
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: snowman;
  src: url(snowman.ttf);
}

h1 {
  color: rgb(0, 108, 163);
  background-color: black;
  font-family: snowman;
  font-style: italic;
  font-size: 50px;
  margin-top: 0px;
  padding: 25px;
  border-bottom: solid;
}

.comic-img {
  height: 500px;
  width: 500px;
}

.next-comic-btn {
  background-color: black;
  border: solid rgb(255, 255, 255);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: rgb(219, 219, 132);
  height: 50%;
}

.bottom {
  height: 50%;
}
